
<form>
 
<div class="" id="signupModal" #regForm >
 
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
       
        <h4 class="modal-title">EDIT PROFILE</h4>
      </div>
      	<div class="alert alert-danger" *ngIf="isError">
				{{errMessage}}
			</div>

      <div class="alert alert-success" *ngIf="isSuccess">
				{{successMessage}}
        <a routerLink="/profile">Navigate to Profile</a>
			</div>


      <div class="modal-body">
         <div class="form-group">
            <label for="name" class="control-label">Username:</label>
            <input type="text" class="form-control" id="inputName" placeholder="Enter Your Username" [(ngModel)]="username" name="name"  required>
        </div>
         <div class="form-group">
            <label for="inputEmail" class="control-label">Email Address:</label>
            <input type="email" class="form-control" id="inputEmail" placeholder="Email"  name="email"  [(ngModel)]="email" required>
        </div>

           <div class="form-group">
            <label for="inputPassword" class="control-label">Password:</label>
            <input type="password" class="form-control" id="inputPassword" placeholder="Enter New Password" [(ngModel)]="password" name="password"  >
        </div>

           <div class="form-group">
            <label for="inputRePassword" class="control-label">Re-enter Password:</label>
            <input type="password" class="form-control" id="inputRePassword" placeholder="Re-Enter Password" [(ngModel)]="repassword" name="repassword"  >
        </div>

    </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default">RESET</button>
        <button type="submit" class="btn btn-primary" (click)="updateUser()">UPDATE</button>
         </div>
      </div>
    </div>
  </div>
</form>
